@import url(register/register.css);
@import url(profile/profile.css);


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
}

h1, h2, h3 {
  text-align: center;
  margin: 0 0 20px;
}

@media (max-width: 540px) {
  h1 {
    font-size: 26px;
    margin: 0 0 10px;
  }

  h2, h3 {
    margin-top: 30px;
    font-size: 18px;
  }
}

button {
  padding: 16px;
  margin-top: 20px;
  background-color: rgba(237, 176, 33, 0.715);
  color: #333;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: rgba(237, 176, 33);
}

@media (max-width: 540px) {
  button {
    margin-top: 16px;
    padding: 10px;
    font-size: 12px;
  }
}

.error-message {
  color: red;
  font-size: 12px;
  margin: 0;
}


@media (max-width: 540px) {
  .error-message {
    font-size: 10px;
  }
}